In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\Arjun python\get.csv")

In [3]:
df

          col
0  get(1,2,3)
1  set(3,4,5)
2   go(5,6,7)

In [5]:
preprocessed_col = []
fun = ''
for i in df.col:
    for j in i:
        if j=='(':
            break
        fun += j
    preprocessed_col.append(fun)
    fun = ''

In [6]:
preprocessed_col

['get', 'set', 'go']